@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 115px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 30px -10px;
}

.product {
  max-width: 305px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0px 3px 6px #DFEAFC;
  border: 1px solid #E4ECF9;
  background-color: #fff;
  overflow: hidden;
  transition: all 333ms ease-in-out;
}

.product:hover {
  max-height: 800px;
}

.product:hover .product-color,
.product:hover .product-description {
  opacity: 1;
}

.product-image-container {
  box-sizing: border-box;
  height: 305px;
  padding: 20px;
  border-bottom: 1px solid #E4ECF9;
}

.product-image {
  width: 100%;
}

.product-details {
  padding: 18px 20px 20px 20px;
}

.product-availability {
  display: inline-block;
  color: #fff;
  padding: 6px 8px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 12px;
}

.product-availability.in-stock {
  background-color: #76CB22;
}

.product-availability.on-order {
  background-color: #A6C3EE;
}

.product-name {
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  color: #4F545F;
  margin-bottom: 18px;
  line-height: 24px;
}

.product-price {
  font-weight: 700;
  font-size: 16px;
  color: #4F545F;
  margin-bottom: 11px;
}

.product-color,
.product-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6C7683;
}

.product-color {
  margin-bottom: 6px;
}

.product-color,
.product-description {
  opacity: 0;
  transition: all 333ms ease-in-out;
}

.add-to-cart {
  display: flex;
  align-items: center;
  background: #336EC6;
  box-shadow: 0px 4px 8px #A9C2E9;
  border-radius: 6px;
  border: none;
  padding: 16px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart-icon {
  margin-right: 8px;
}

.add-to-cart-text {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.pagination {
  display: flex;
}

.pagination-previous,
.pagination-next {
  background-color: #EFF5FE;
  border-radius: 100px;
  border: none;
  padding: 8px 18px;
  font-weight: 400;
  font-size: 13px;
  color: #4F545F;
  cursor: pointer;
}

.pagination-previous:disabled,
.pagination-next:disabled {
  opacity: 1;
  color: #9FAABA;
  cursor: no-drop;
}

.pagination-previous {
  margin-right: 18px;
}

.pagination-next {
  margin-left: 18px;
}

.pagination-pages {
  margin: -3px;
}

.pagination-page {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #EFF5FE;
  font-weight: 700;
  font-size: 12px;
  color: #4F545F;
  margin: 3px;
  cursor: pointer;
}

.pagination-page.active {
  background-color: #336EC6;
  color: #fff;
}

@media (min-width: 1366px) {
  .product {
    max-height: 445px;
  }
}

@media (max-width: 1295px) {
  .products {
    justify-content: center;
  }

  .product {
    max-width: 33%;
    max-height: none;
  }

  .product-image-container {
    height: auto;
  }

  .product-color,
  .product-description {
    opacity: 1;
  }
}

@media (max-width: 1116px) {
  .product {
    max-width: 50%;
  }
}

@media (max-width: 742px) {
  .product {
    max-width: none;
  }
}

@media (max-width: 393px) {
  .pagination {
    flex-direction: column;
  }

  .pagination-previous {
    margin: 0 0 9px 0;
  }

  .pagination-next {
    margin: 9px 0 0 0;
  }
}